<!-- <p>forgot-password works!</p> -->
<!-- <div>
    <label for="">Enter your email : </label>
    <input type="text" [(ngModel)]="email">
</div> -->
<!-- <div>
    <label for="">Enter your userName : </label>
    <input type="text" [(ngModel)]="userName">
</div>
<div>
    <label for="">Enter your new password : </label>
    <input type="password" [(ngModel)]="password1">
</div>
<div>
    <label for="">Re-enter your new password : </label>
    <input type="password" [(ngModel)]="password2">
</div>
<div *ngIf="!authPassword">Your passwords don't match</div>
<button (click)="submit()">Submit</button> -->

<div class="login-container" >

    <div class="form-container">

        <h1>Forgot Password?</h1>
        
        <form class="from-group"  [formGroup]="forgotPasswordForm">

            <div class="form-input-container">
                <mat-form-field> 
                    <mat-label>Username</mat-label>
                    <!-- <input type="text" matInput [(ngModel)]="name" formControlName="userName"> -->
                    <input type="text" matInput formControlName="userName">
                    <mat-icon matSuffix class="input-icon">person</mat-icon>
                </mat-form-field>
            </div>

            <div class="form-input-container">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <!-- <input type="password" matInput [(ngModel)]="password" formControlName="formPassword"> -->
                    <input type="password" matInput formControlName="password1">
                    <mat-icon matSuffix class="input-icon">lock</mat-icon>
                </mat-form-field>
            </div>

            <div class="form-input-container">
                <mat-form-field>
                    <mat-label>Confirm password</mat-label>
                    <!-- <input type="password" matInput [(ngModel)]="password" formControlName="formPassword"> -->
                    <input type="password" matInput formControlName="password2">
                    <mat-icon matSuffix class="input-icon">lock</mat-icon>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" (click)="submit()">Submit</button>

            <mat-error *ngIf="forgotPasswordForm.hasError('notSame')">
                Passwords do not match
            </mat-error>

        </form>

    
    </div>
    <div class="side-container">

    </div>
</div>