<div class="forgot-password-container">

    <div class="form-container">

        <h1>Forgot Password?</h1>
        
        <form class="from-group"  [formGroup]="forgotPasswordForm">

            <div class="form-input-container">
                <mat-form-field> 
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="userName">
                    <mat-icon matSuffix class="input-icon">person</mat-icon>
                </mat-form-field>
            </div>

            <div class="form-input-container">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password1">
                    <mat-icon matSuffix class="input-icon">lock</mat-icon>
                </mat-form-field>
            </div>

            <div class="form-input-container">
                <mat-form-field>
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput formControlName="password2">
                    <mat-icon matSuffix class="input-icon">lock</mat-icon>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" (click)="submit()">Submit</button>

            <mat-error *ngIf="forgotPasswordForm.hasError('notSame')">
                Passwords doesn't match
            </mat-error>

        </form>

    
    </div>
    <div class="side-container">

    </div>
</div>

<app-loading-modal class="modal" *ngIf="loading"></app-loading-modal>