<p>forgot-password works!</p>
<!-- <div>
    <label for="">Enter your email : </label>
    <input type="text" [(ngModel)]="email">
</div> -->
<div>
    <label for="">Enter your userName : </label>
    <input type="text" [(ngModel)]="userName">
</div>
<div>
    <label for="">Enter your new password : </label>
    <input type="password" [(ngModel)]="password1">
</div>
<div>
    <label for="">Re-enter your new password : </label>
    <input type="password" [(ngModel)]="password2">
</div>
<div *ngIf="!authPassword">Your passwords don't match</div>
<button (click)="submit()">Submit</button>