
<div class="main-container" (mouseover)="hover = true" (mouseout)="hover = false">

        <div class="publish-and-friends">
            <button (click)="popupAddPost = !popupAddPost">Add post</button>
            <div>Friends!</div>
            <app-add-post (addedPost)="addPost($event)" *ngIf="popupAddPost"></app-add-post>
        </div>
    
        <div class="filters" *ngIf="!popupAddPost">
            <h4>Filters:</h4>
            <app-date-filter></app-date-filter>
            <!-- <div>
                From : <input type="date"> To : <input type="date">
            </div> -->
            <div>
                Publishers : <input type="text">
            </div>
            <div>
                <app-add-tags></app-add-tags>
            </div>
            <div>
                <app-tag-people></app-tag-people>
            </div>
    
        </div>
    <!-- </div> -->
    

</div>