
<div class="main-container">

        <div class="btns">
            
            <!-- <button mat-stroked-button (click)="popupAddPost = !popupAddPost">Add post</button> -->
            <button mat-mini-fab color="primary" (click)="popupAddPost = !popupAddPost">
                <mat-icon>add_circle_outline</mat-icon>
            </button>

            <button mat-mini-fab color="primary" (click)="popupAddPost = !popupAddPost">
                <mat-icon>supervisor_account</mat-icon>
            </button>
            <!-- <button mat-stroked-button (click)="popupAddPost = !popupAddPost">Friends</button> -->
            
        </div>

        <app-add-post (addedPost)="addPost($event)" *ngIf="popupAddPost"></app-add-post>

        <div class="filters" *ngIf="!popupAddPost">
            <h3>Filter by:</h3>
            <app-date-filter></app-date-filter>
            <!-- <div>
                From : <input type="date"> To : <input type="date">
            </div> -->
            <div>
                <app-tag-people [placeholder]="publishersPlaceholder"></app-tag-people>
            </div>
            <div>
                <app-add-tags></app-add-tags>
            </div>
            <div>
                <app-tag-people [placeholder]="taggeUsersPlaceholder"></app-tag-people>
            </div>

            <div class="btns">
                <button color="primary" mat-stroked-button>Done</button>
                <button color="primary" mat-stroked-button>Reset</button>
            </div>
            
    
        </div>
    <!-- </div> -->
    

</div>