.publish-and-friends{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10vh;
}

.publish-and-friends > * {
    justify-self: center;
    align-items: center;
    /* padding: auto; */
    /* row-gap: 10%; */
}

