
<div class="main-container">

        <div class="btns">
            <button mat-mini-fab color="primary" (click)="popupAddPost = !popupAddPost">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>

        <app-add-post (addedPost)="addPost($event)" *ngIf="popupAddPost"></app-add-post>

        <div class="filters" *ngIf="!popupAddPost">

            <h3>Filter by:</h3>
            <app-date-filter (onFormGroupChange)="onFormGroupChangeEvent($event)"></app-date-filter>
            <div>
                <app-tag-people placeholder="Publishers" (addTaggedUsersToPostEvent)="addPublishers($event)"></app-tag-people>
            </div>

            <div>
                <app-add-tags (addTagsToPostEvent)="addTags($event)"></app-add-tags>
            </div>
            <div>
                <app-tag-people placeholder="Tag Users" (addTaggedUsersToPostEvent)="addTaggedUsers($event)"></app-tag-people>
            </div>

            <div class="btns">
                <button color="primary" mat-stroked-button (click)="done()">Done</button>
                <button color="primary" mat-stroked-button (click)="reset()">Reset</button>
            </div>
    
        </div>

</div>