<div class="login-container" >

    <div class="form-container">

        <h1>Login</h1>
        <form class="from-group"  [formGroup]="loginForm">

            
            <div class="form-input-container">
                <mat-form-field> 
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="userName">
                    <mat-icon matSuffix class="input-icon">person</mat-icon>
                </mat-form-field>
            </div>

            <div class="form-input-container">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="formPassword">
                    <mat-icon matSuffix class="input-icon">lock</mat-icon>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" (click)="login()">Sign In</button>

        </form>

        <div class="form-input">
            <div class="checkbox">
                <input type="checkbox" id="remember"  name="remember" value="rememberMe" [(ngModel)]="rememberMe">
                <label for="remember"><strong>Remember me</strong></label>
            </div>
            <a routerLink="/forgot-password" routerLinkActive="active"><strong>Forgot password?</strong></a>
        </div>
        

        <div class="form-input">
            <strong><label>Not registred yet? </label> <a href="/signup">Create an Account</a></strong>
        </div>

        <div class="errorMsg">
            <div>{{error}}</div> 
        </div>
    </div>
    <div class="side-container">

    </div>
    
</div>

<app-loading-modal class="modal" *ngIf="loading"></app-loading-modal>