<p>login works!</p>
<div>
    <div>
        <label for="Email">Name: </label>
        <input type="text" [(ngModel)]="name">
    </div>
    <div>
        <label for="Password">Password: </label>
        <input type="password" [(ngModel)]="password">
    </div>
    <a href="">Forgot password?</a>
    <input type="checkbox"  name="remember" value="rememberMe" [(ngModel)]="rememberMe">
    <label for="remember">Remember me</label><br>
    <button (click)="submit()">submit</button>
    <div *ngIf="existUser">I found you!</div>

    <button (click)="signup()">signup</button>
</div>