<div class="main-container">
    <div class="comment-container costum-scrollbar">
        <mat-form-field appearance="legacy">
            <mat-label>Add a comment</mat-label>
            <textarea (click)="stopPropogation()" [(ngModel)]="comment" matInput
                      cdkTextareaAutosize
                      #content
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      (input)="addCom($event)"
                      ></textarea>
        </mat-form-field>
        <app-tag-people (click)="stopPropogation()" placeholder="@TagUsers"></app-tag-people>
        <app-add-tags (click)="stopPropogation()"></app-add-tags>
    </div>
    
    <div>
        <button mat-button color="primary" (click)="addComment(content.value)">Post</button>
    </div>
   
</div>
