<!-- <div class="edit-post-container">
    <div class="edit-post-semi-container">
        <div class="edit-post-dialog">
            <div class="post-dialog"> -->
                <!-- <mat-card class="example-card"> -->
                <div class="main-container">
                    <div class="image">
                        <img mat-card-image src="{{ post.imageSorce! }}" alt="{{post.description}}">
                    </div>
                    <div class="card-content costum-scrollbar">
                      <mat-card-content>
                          <label (click)="stopProp()" for="file-upload" [class]="btnClass">
                              <i class="fa fa-cloud-upload"></i> Add image
                          </label>
                          <input  id="file-upload" type="file" (click)="stopProp()" (change)="addImg($event)">{{imgName}}<br>
                          <div>
                            <div class="edit">
                                <app-add-description (click)="stopProp()" (addDescEvent)="addDescription($event)"></app-add-description>
                              </div>
                              <div class="edit">
                                <app-tag-people (click)="stopProp()" placeholder="Tag Users" (addTaggedUsersToPostEvent)="addTaggedUsers($event)"></app-tag-people>
                              </div>
                              <div class="edit">
                                <app-add-tags (click)="stopProp()" (addTagsToPostEvent)="addTags($event)"></app-add-tags>
                              </div>
                          </div>
                         
                      </mat-card-content>


                      <div id="btns">
                        <button mat-stroked-button color="primary" (click)="edit()">Edit</button>
                        <button mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
                      </div>
                    </div>
                </div>
                    
                  <!-- </mat-card> -->
            <!-- </div>
            
        </div>
    </div>
</div> -->