<div class="main-container">
  
  <div class="side-bar">
    <app-side-bar></app-side-bar>
  </div>
  
  <div class="router">
    <div class="nav-bar">
     
      <nav class="row">
        <mat-toolbar  color="primary">

          <button (click)="logout()" class="material-icons-outlined logout">logout</button>
          <span>FakeLook</span>
          <span class="example-spacer"></span>

          <div class="links">
            <a routerLink="/main-page/map" routerLinkActive="active">Map view </a>
            <a routerLink="/main-page/timeline" routerLinkActive="active">Timeline view</a>
          </div>
        </mat-toolbar>
        </nav>
        
    </div>
    
    <!-- The routed views render in the <router-outlet>-->
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>

  
</div>



