/* .main-container{
    display: grid;
    grid-template-columns: 40% 60%; */
    /* flex-direction: row; */
    /* height: 100%;
    width: 100%;
    justify-content: space-evenly;
} */

/* .router-outlet-container{
    margin-top: 1%;
    width: 100%;
    height: 100%;
} */



.nav-bar{
    background-color: whitesmoke;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.row{
    position: fixed;
    background-color: white;
    padding: 10px;
    padding: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5vw;
    height: max-content;
}

a{
    text-decoration: none;
    font-size: medium;
    color: gray;  
    /* border-bottom: 1px solid black; */
}

a:hover{
    color: black;

}

/* .router{
    width: 100%;
    height: 80%;
} */

.router-outlet-container{
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

.router{
    width: 100%;
    height: 94%;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    
    /* grid-template-columns: 40% 60%; */
    top: 30px;

    /* display: flex;

    grid-template-columns: 40% 60%; */
}

.side-bar{
    
}