<div class="main-container">
  
  <div class="side-bar">
    <app-side-bar></app-side-bar>
  </div>
  
  <div class="router">
    <div class="nav-bar">
     
      <nav class="row">
        <mat-toolbar  color="primary">
          <!-- <img src="../../../assets/logo2-removebg-preview.png" alt=""> -->
          <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button> -->
          <button (click)="logout()" class="material-icons-outlined logout">logout</button>
          <span>FakeLook</span>
          <span class="example-spacer"></span>
          <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button> -->
          <div class="links">
            <a routerLink="/main-page/map" routerLinkActive="active">Map view </a>
            <a routerLink="/main-page/timeline" routerLinkActive="active">Timeline view</a>
          </div>

          <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button> -->
        </mat-toolbar>
          <!-- <a routerLink="/main-page/map" routerLinkActive="active">Map view </a> -->
          <!-- <a routerLink="/main-page/timeline" routerLinkActive="active">Timeline view</a> -->
        </nav>
        
    </div>

    
    <!-- The routed views render in the <router-outlet>-->
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </div>

  
</div>



