
<mat-form-field class="example-chip-list" appearance="legacy">
    <mat-label>Tagged Users</mat-label>
    <mat-chip-list #chipList aria-label="User selection">
      <mat-chip
        *ngFor="let user of taggedUsers"
        (removed)="remove(user)">
        {{user}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Tagged Users..."
        #fruitInput
        [formControl]="usersCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        >
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let user of allUsersNames" [value]="user">
        {{user}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
