<div class="signup-container">
    <div class="form-container">
        <h1>Registration</h1>

        <form class="from-group"  #formDir="ngForm" [formGroup]="signupForm">
            <div class="form-input-container">
                <mat-form-field class="form-input"> 
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. email@gmail.com">
                    <mat-icon matSuffix class="input-icon">email</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="form-input"> 
                    <mat-label>Full Name</mat-label>
                    <input type="text" matInput formControlName="fullName">
                    <mat-icon matSuffix class="input-icon">person</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="form-input"> 
                    <mat-label>User Name</mat-label>
                    <input type="text" matInput formControlName="userName">
                    <mat-icon matSuffix class="input-icon">person</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="form-input"> 
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password1">
                    <mat-icon matSuffix class="input-icon">lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="form-input"> 
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput formControlName="password2">
                    <mat-icon matSuffix class="input-icon">lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="form-input"> 
                    <mat-label>Birth Date</mat-label>
                    <input type="date" matInput formControlName="birthDate">
                    <mat-icon matSuffix class="input-icon">event</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="form-input"> 
                    <mat-label>Address</mat-label>
                    <input type="text" matInput formControlName="address">
                    <mat-icon matSuffix class="input-icon">home</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-input-container">
                <mat-form-field class="form-input"> 
                    <mat-label>Job</mat-label>
                    <input type="text" matInput formControlName="job">
                    <mat-icon matSuffix class="input-icon">work</mat-icon>
                </mat-form-field>
            </div>

            <mat-error *ngIf="signupForm.hasError('notSame')">
                Passwords do not match
            </mat-error>  

            <mat-error *ngIf="signupForm.hasError('validUserName')">
                UserName must not contains spaces
            </mat-error>
            <button mat-raised-button color="primary" (click)="submit()">Sign Up</button>     
        </form>
    </div>
    <div class="side-container">

    </div>
</div>

<app-loading-modal class="modal" *ngIf="loading"></app-loading-modal>
